*~

#Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
bin2c
config.h
config.log
config.status
libtool
src/.deps/
src/.dirstamp
src/signin_page.h
stamp-h1
tools/.deps/
tools/.dirstamp
tools/bin2c.o
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/ltmain.sh
build/missing
build/mod_authn_persona.spec
mod_authn_persona-*.tar.gz
.libs/
mod_authn_persona.la
src/.libs/
src/cookie.lo
src/mod_authn_persona.lo
src/verify.lo

#Tests
t/TEST
t/conf/apache_test_config.pm
t/conf/extra.conf
t/conf/httpd.conf
t/htdocs/
t/logs/
